# Docker Upstart and SysVinit configuration file

FLUNNEL_ENV=/run/flannel/subnet.env
while ! [ -f $FLUNNEL_ENV ]; do
  echo Waiting for $FLUNNEL_ENV
  sleep 1;
done
. $FLUNNEL_ENV

# Customize location of Docker binary (especially for development testing).
#DOCKER="/usr/local/bin/docker"

# Use DOCKER_OPTS to modify the daemon startup options.
DOCKER_OPTS="--bip ${FLANNEL_SUBNET} --mtu ${FLANNEL_MTU}"

# If you need Docker to use an HTTP proxy, it can also be specified here.
#export http_proxy="http://127.0.0.1:3128/"

# This is also a handy place to tweak where Docker's temporary files go.
#export TMPDIR="/mnt/bigdrive/docker-tmp"
