---
apiVersion: v1
kind: Config
current-context: kubernetes-context

clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: "{{ kubeconfig_apiserver }}"
  name: kubernetes

contexts:
- context:
    cluster: kubernetes
    namespace: default
    user: kubectl
  name: kubernetes-context

preferences:
  colors: true

users:
- name: kubectl
  user:
    token: "{{ token_kubectl }}"

# vi:syntax=yaml
