description "Kube-Proxy service"

respawn

# start in conjunction with flanneld
start on started flanneld
stop on stopping flanneld

limit nofile 65536 65536

pre-start script
	KUBE_PROXY={{ bin_directory }}/$UPSTART_JOB

  test -f /etc/default/$UPSTART_JOB && . /etc/default/$UPSTART_JOB
  test -x ${KUBE_PROXY}
end script

script
	KUBE_PROXY={{ bin_directory }}/$UPSTART_JOB
	KUBE_PROXY_OPTS=""

  test -f /etc/default/$UPSTART_JOB && . /etc/default/$UPSTART_JOB
	exec "$KUBE_PROXY" $KUBE_PROXY_OPTS
end script

